<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="CsvFilePath" value="C:\Users\milan\Desktop\smart_grid_dataset.csv" />
	</appSettings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="StreamingBinding"
                         transferMode="Streamed"
                         maxReceivedMessageSize="2147483647"
                         receiveTimeout="00:10:00"
                         sendTimeout="00:10:00" />
			</netTcpBinding>
		</bindings>

		<client>
			<endpoint name="SmartGridEndpoint"
                      address="net.tcp://localhost:8000/SmartGridService"
                      binding="netTcpBinding"
                      bindingConfiguration="StreamingBinding"
                      contract="Common.ISmartGridService" />
		</client>
	</system.serviceModel>
	
</configuration>