<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="V_threshold" value="20" />
		<add key="I_threshold" value="20" />
	</appSettings>
	
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="StreamingBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
            </netTcpBinding>
        </bindings>
        <services>
            <service name="Service.SmartGridService">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:8000/SmartGridService" />
                    </baseAddresses>
                </host>
                <endpoint address="" binding="netTcpBinding" bindingConfiguration="StreamingBinding" contract="Common.ISmartGridService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>